secondary.json
[{"id":"405439c2.64b458","type":"watson-text-to-speech","z":"53e6b300.b262ec","name":"TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","password":"tltsY7IYGaG0","x":354.1999969482422,"y":223.20000648498535,"wires":[["5bda00e4.bec6a"]]},{"id":"996a7793.1f4338","type":"websocket out","z":"53e6b300.b262ec","name":"","server":"e02f9720.c781d8","client":"","x":786.2909545898438,"y":223.9272804260254,"wires":[]},{"id":"e06b42cf.db8b2","type":"http in","z":"53e6b300.b262ec","name":"","url":"/audio","method":"get","swaggerDoc":"","x":266.0181884765625,"y":431.5636291503906,"wires":[["b73fdea.3f00d2"]]},{"id":"2070e1ce.dbe59e","type":"http response","z":"53e6b300.b262ec","name":"","x":701.5637054443359,"y":425.8363265991211,"wires":[]},{"id":"b73fdea.3f00d2","type":"template","z":"53e6b300.b262ec","name":"","field":"","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"ws://\" + window.location.host + \"/audio\";\n\n    $(document).ready(function(){\n      var output = document.getElementById('output')\n      $('#output').on('playing', function () {\n          $('#text').text('Playing audio.')\n          \n      });\n      $('#output').on('ended', function () {\n          $('#text').text('Waiting for audio...')\n          \n      });\n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){\n          $('#text').text('Waiting for audio...');\n          console.log(\"Connected websocket\");\n      };\n      sock.onerror = function(){ \n          console.log(\"Websocket error\"); \n      };\n      sock.onclose = function () {\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      sock.onmessage = function(evt){\n        console.log(\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":500.01816177368164,"y":430.5636205673218,"wires":[["2070e1ce.dbe59e"]]},{"id":"5bda00e4.bec6a","type":"function","z":"53e6b300.b262ec","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":554.0181891701438,"y":223.7454498464411,"wires":[["996a7793.1f4338"]]},{"id":"45df58b2.70f148","type":"link in","z":"53e6b300.b262ec","name":"","links":["4518b2b9.3f1cdc"],"x":135.50001525878906,"y":280.00001525878906,"wires":[["405439c2.64b458"]]},{"id":"e02f9720.c781d8","type":"websocket-listener","z":"","path":"/audio","wholemsg":"false"}]